*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-color: rgb(17, 17, 121);
}

#realize {
    text-align: center;
    color: white;
    margin-top: 30px;
}

label{
    color: white;
}

button{
    width: 100%;
    margin-top: 10px;
}

#error{
    color: white;
    text-align: center;
    margin-top: 3%;
    animation: campoErrado 2s infinite forwards alternate;
    display: none;
}

#sucesso{
    color: white;
    text-align: center;
    margin-top: 3%;
    display: none;
}

.sumindo {
    animation: fugindo 3s;
}

#botao-login{
    display: none;
}

@keyframes campoErrado{
    from{
        border: 1px solid white;
    }
    30%{
        border: 1px solid rgb(255, 251, 0);
    }
    to{
        border: 1px solid green;
    }
}


@keyframes fugindo{
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}